# common
.venv
**/__pycache__
mlruns
output
.envrc
.pytest_cache
*.log
.vscode/*
wandb

# hide data folder
data/*
!data/README.md

# hide experiments, except for the published ones
experiments/*
experiments_USA_SING
!experiments/template
experiments_vkitti_skitti
lidar
experiments_a2d2_semanticKitti
semanticKitti
a2d2
qualitatives_a2d2
qualitatives_night
qualitatives_day
qualitatives_night_segmentation
qualitatives_singapore_segmentation
qualitatives_kitti_segmentation
qualitatives_night_depth
qualitatives_usa
qualitatives_depth
qualitatives_kitti
qualitatives_singapore
show.ipynb
old_experiments
PL_experiments
PL_experiments_USA_SING
PL_experiments_vkitti_skitti
PL_experiments_a2d2_semanticKitti
experiments_nuscenes
CTS_usa_singapore
CTS_a2d2_skitti
CTS_vkitti_skitti
CTS_day_night
qualitatives_vkitti_skitti
qualitatives_a2d2_skitti