# common
.venv
**/__pycache__
mlruns
output
.envrc
.pytest_cache
*.log
.vscode/*
wandb

# hide data folder
data/*
!data/README.md

# hide experiments,
experiments_a2d2_semanticKitti
old_experiments
PL_experiments
PL_experiments_USA_SING
PL_experiments_vkitti_skitti
PL_experiments_a2d2_semanticKitti
